<app-loading *ngIf="loading" [center]="true"></app-loading>
<div *ngIf="!loading" class="container mt-5">
    <h2>Choose device(s) to kill</h2>
    <h4>Agressivity slider</h4>
    <div class="w-100 d-inline-flex align-items-center">
            <input type="range" min="100" max="5000" [(ngModel)]="memory.delay">
            <h5 class="ms-2">{{memory.delay}}ms</h5>
    </div>
    <div class="mt-3" *ngFor="let item of lanClients">
        <app-lan-item [lanClient]="item"></app-lan-item>
    </div>
</div>