.box {
    border-radius: 0.25rem;
    background-color: #343a40;
    width: 100%;
    user-select: none;
}

.box:hover {
    background: #007bff;
    cursor: pointer;
    animation: popUp 0.3s ease forwards;
}

.box:not(:hover) {
    animation: shrinkDown 0.3s ease forwards;
}

@keyframes popUp {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

@keyframes shrinkDown {
    0% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.kill {
    border-radius: 0.25rem;
    background-color: red;
    width: 100%;
    user-select: none;
    animation: fillWithBlood 2s ease forwards;
}

@keyframes fillWithBlood {
    0% { background-color: #343a40; }
    100% { background-color: red; }
}