<div class="p-2" style="position: relative;" (click)="kill()" [ngClass]="{box: !killing, kill: killing}">
    <div></div>
    <div class="row">
        <label class="col-3 col-md-2 col-lg-2" for="ip">IP:</label>
        <span class="col" id="hostname">{{lanClient.ip}}</span>
    </div>
    <div class="row">
        <label class="col-3 col-md-2 col-lg-2" for="mac">MAC:</label>
        <span class="col" id="mac">{{lanClient.mac}}</span>
    </div>
    <div class="row">
        <label class="col-3 col-md-2 col-lg-2" for="ip">Hostname:</label>
        <span class="col" id="hostname">{{lanClient.hostname}}</span>
    </div>
    <div class="row">
        <label class="col-3 col-md-2 col-lg-2" for="vendor">Vendor:</label>
        <span class="col" id="vendor">{{lanClient.vendor}}</span>
    </div>
    <div class="stop">
        <button *ngIf="canKillStop" (click)="stopKill()"
        class="btn btn-primary">Stop</button>
    </div>  
</div>