.box {
    border-radius: 0.25rem;
    background-color: #343a40;
    width: 100%;
    user-select: none;
    transition: transform 0.3s ease;
}

.box:hover {
    background: #007bff;
    cursor: pointer;
    transform: scale(1.05);
}

.kill {
    border-radius: 0.25rem;
    background-color: red;
    width: 100%;
    user-select: none;
    animation: fillWithBlood 2s ease forwards;
}

.stop {
    position: absolute; 
    right: 5%; 
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@keyframes fillWithBlood {
    0% { background-color: #343a40; }
    100% { background-color: red; }
}