<div class="container mt-4">
    <h2>Let's get started: downloading required dependencies</h2>
    <p class="mt-4">
        This app requires the installation of npcap in order to properly function.
    </p>
    <p>
        We have detected it is missing from your PC. In order to install it, please use the button below
    </p>
    <p>
        Once installed, restart the app and everything will be in working order!
    </p>
    <button class="btn btn-primary" (click)="openLink()">Download npcap</button>
</div>